<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/exercise.css">
  <title>Fetch exercises</title>
</head>

<body>
  <div>
    <h1>Buscador de CEP</h1>
    <form id="searchCep">
      <label for="cep">CEP</label>
      <input type="text" name="cep" id="cep" placeholder="Digite seu CEP">
      <button type="submit" class="buttonCep">Buscar</button>
    </form>

    <div class="resultCep"></div>
  </div>

  <div>
    <h1>Preço BTC</h1>
    <p class="resultBitcoin"></p>
  </div>

  <div>
    <h1>Piadas do Chuck Norris</h1>

    <p class="resultJoke"></p>
    <button class="buttonJoke">Próxima piada</button>
  </div>

  <script src="../scripts/script-exercise.js"></script>
</body>

</html>