* {
  box-sizing: border-box;
}

label {
  display: block;
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  margin: 10px 0 5px 0;
}

input {
  width: 100%;
  padding: 5px;
  border: 2px solid #000;
  font-size: 1em;
}

input.erro {
  border-color: red;
}

input.valid {
  border-color: green;
}

input::placeholder {
  color: rgba(0, 0, 0, .2);
}

.error-text {
  display: none;
  font-family: 'IBM Plex Mono';
  font-size: .875rem;
  color: red;
}

.error-text.active {
  display: block;
}