body {
  margin: 0;
  background-color: #CCC;
}

label {
  display: block;
  margin: 1rem 0 .5rem 0;
}

label:first-child {
  margin-top: 0;
}

input {
  display: block;
}

.button-creator {
  display: grid;
  grid-gap: 30px;
  padding: 30px;
  grid-template-columns: 250px 1fr;
}

#controls {
  font-family: 'IBM Plex Mono', monospace;
  font-size: .875rem;
  background-color: #EEE;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 1);
}

.css {
  font-family: 'IBM Plex Mono', monospace;
  color: #333;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.css span {
  display: block;
  margin-bottom: .5rem;
}